.App {
  text-align: center;
}
body {
  font-family: "Times New Roman", Times, serif;
}
.Header {
  padding: 1em;
  padding: 25px;
  background: url("https://thumbs.dreamstime.com/z/old-grunge-newspaper-collage-horizontal-texture-unreadable-vintage-news-paper-pattern-scratched-textured-page-gray-white-newsprint-118766441.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  padding: 1px;
  background-position: center;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.Nav {
  border: 1px solid blue;
}
.ArticlesList {
  list-style-type: none;
  position: relative;
  text-align: left;
  padding: 0 0.5px;
  /* margin: auto; */
  border: 1px solid;
  margin: 0;
}

li {
  /* margin: auto; */
  border-bottom: 1px solid;
}
.CommentsList {
  list-style-type: none;
  text-align: left;
  padding: 0;
  /* margin: auto; */
  border: 1px solid;
  margin: 0;
}
